{% extends "layout.html" %}

{% block sidebar %}
<div class="col-md-4">
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ image_file }}">
        <div class="media-body">
            <h3><a class="mr-2" href="#">{{ current_user.username }}</a></h3>
            <p class="text-secondary">{{ current_user.email }}</p>
        </div>
      </div>

      <p class='text-muted'>You can put any information here you'd like.</br>
        <a class="mr-2" href="#">Pages</a></p>
        <ul class="list-group">
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="#">{{ current_user.username }}</a>
                    </div>
                </div>
              </article>
        </ul>
        <a class="mr-2" href="#">Connections</a></p>
        <ul class="list-group">
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                            {% for connection in connections %}
                            <li  class="list-group-item list-group-item-light">
                                <a class="mr-2" href="#">{{ connection.name }}</a>
                            </li>
                            {% endfor %}
                    </div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                              <span class="sr-only">Previous</span>
                            </a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                              <span class="sr-only">Next</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                </div>
                
              </article>
        </ul>
        <a class="mr-2" href="#">My Pages</a></p>
        <ul class="list-group">
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="#">I have created these pages</a>
                    </div>
                </div>
              </article>
        </ul>
        <a class="mr-2" href="#">Liked Pages</a></p>
        <ul class="list-group">
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="#">I liked these pages</a>
                    </div>
                </div>
              </article>
        </ul>
        <a class="mr-2" href="#">My Groups</a></p>
        <ul class="list-group">
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="#">My created groups</a>
                    </div>
                </div>
              </article>
        </ul>
        <a class="mr-2" href="#">Groups</a></p>
        <ul class="list-group">
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="#">The groups - I am the member of</a>
                    </div>
                </div>
              </article>
        </ul>
      </p>
    </div>
  </div>
{% endblock sidebar %}
{% block content %}
<div class="content-section">
    <div class="container">

      <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"> Good morning Milind....</legend>

            <div class="form-group">

              <!-- {{ form.title.label(class="form-control-label") }}
              {% if form.title.errors %}
                  {{ form.title(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.title.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.title(class="form-control form-control-lg") }}
              {% endif %} -->


              <!-- placeholder="Type your post" -->
              
                <!-- {{ form.content.label(class="form-control-label") }} -->
                {% if form.content.errors %}
                    {{ form.content(class="form-control form-control-lg is-invalid border border-warning") }}
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.content(class="form-control form-control-lg border border-warning",placeholder="What's in ur mind?") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.upload(class="btn btn-outline-info") }}
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
        
            <!-- <input class="form-control form-control-lg border border-warning" type="text" placeholder="Type your post"></br> -->
            <!-- <div class="form-group">
                <textarea class="form-control form-control-lg border border-warning" id="exampleFormControlTextarea1" placeholder="Type your post" rows="2"></textarea>
            </div>
        <button type="button" class="btn btn-primary">Image Upload</button>
        <button type="button" class="btn btn-primary">Submit Post</button></br>
    </div> -->

<!-- 
{{ form.content.data }}
    <div class="content-section">
      <form method="POST" action="">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">whats in ur mind?</legend>

              <div class="form-group">
                  {{ form.content.label(class="form-control-label") }}
                  {% if form.content.errors %}
                      {{ form.content(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.content.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.content(class="form-control form-control-lg") }}
                  {% endif %}
              </div>
          </fieldset>
          <div class="form-group">
              {{ form.submit(class="btn btn-outline-info") }}
          </div>
      </form> -->






</div>

   <div class="col-md-12">
    <div class="content-section">
      <h3>All Posts</h3>
      <p class='text-muted'><h5>Here, We need to show all posts which belongs to all (users/pages/groups)!</h5>
        <!-- <ul class="list-group">
            {% for connection in pending_requests %}
            <li  class="list-group-item list-group-item-light">
                <a class="mr-2" href="#">{{ connection.name }}</a>
            </li>
            {% endfor %}
        </ul> -->
        {% for post in posts %}
        <article class="media content-section">
         <div class="media-body">
           <div class="article-metadata">
             <a class="mr-2" href="#">{{ post.author }}</a>
             <small class="text-muted">{{ post.date_posted }}</small>
           </div>
           <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
           <p class="article-content">{{ post.content }}</p>
           We need to give options for response + thumsup n all
           <span><br>
            <img src="logg.png" width="114" height="38" onclick="DoSomething();" />
            <input type="image" src="like.png" name="saveForm" class="fa fa-thumbs-o-up" id="saveForm" />
            <button class="dislike">
            <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
            </button>
            
            <button class="like">
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
            </button>
    
           <textarea class="form-control form-control-sm border border-info" id="Textarea2" placeholder="Comment" rows="1"></textarea>
           <!-- <button type="button" class="btn btn-primary">Post Comment</button> -->

  
           <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-outline-primary btn-sm" type="button">Post Comment</button>
          </div>
        
        </span>
 
         </div>

       </article>

        {% endfor %}
      </p>
    </div>
  </div>
{% endblock content %}